// Clearfix

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// Font Face

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
// Media mixin for website
@mixin mobile () {
  @media (min-width: 1px) and (max-width: 736px) {
    @content;
  }
}

@mixin mobileL () {
  @media (min-width: 1px) and (max-width: 736px) and (orientation: landscape) {
    @content;
  }
}

@mixin pre-tablet () {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin tablet () {
  @media (max-width: 1079px) {
    @content;
  }
}
@mixin pre-desktop () {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin desktop () {
  @media (max-width: $screen-lg) {
    @content;
  }
}

@mixin only-desktop () {
  @media (min-width: 737px) {
    @content;
  }
}

// Media mixin for landing
@mixin screen-xs () {
  @media (min-width: 1px) and (max-width: 767px) {
    @content;
  }
}

@mixin screen-sm () {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin screen-md () {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin screen-lg () {
  @media (max-width: 1362px) {
    @content;
  }
}
