/*---- FONTS ----*/
$font-primary			: 			'Raleway', sans-serif;
$font-heading			: 			'Poiret One', cursive;
$font-sans				: 			'Open Sans', sans-serif;
$font-size-base			: 			14px;
$line-height-base		: 			24px;
$font-weight-normal		: 			400;
$font-weight-medium		: 			500;
$font-weight-semibold	: 			600;
$font-weight-bold		: 			700;

/*---- COLORS ----*/
$primary				:			#3cbe9b;
$danger         :     #ff5672;
$primary-darken			:			#36ab8b;
$white 					: 			#fff;
$white-darken 			: 			#e5e5e5;
$grey					: 			#3b3b3b;
$grey-lighter			: 			#626262;
$secondary1				: 			#6a6a6a;
$secondary2				: 			#3b3b3b;
$secondary3				: 			#b4b4b4;
$secondary4				: 			#f4f4f4;
$secondary5 			: 			#f3f3f3;
$secondary6       :       #e1e1e1;
$secondary7       :       #7d7d7d;


/*---- EFFECTS ----*/
$transition-base		: 			0.33s;
