<footer class="footer">
    <div class="container">
        <img class='footer__logo' src="img/homepage/logo_dark.svg" alt="">

        <div class="footer__section">
            <h3 class="footer__title">Horeca</h3>
            <ul class="footer__menu">
                <li>
                    <a href="http://blog.clevergig.nl" target="_blank" class="no-page-fade">Blog</a>
                </li>
                <li>
                    <a href="https://clevergigdemo.youcanbook.me/" class="text-danger" target="_blank">Vraag demo aan</a>
                </li>
                <li>
                    <a href="https://clevergig.zendesk.com/hc/nl/categories/200820235-Voor-horeca" target="_blank">
                        Support
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        Algemene voorwaarden
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__title">Bel ons gerust</h3>
            <ul class="footer__menu">
                <li>
                    <span class="text-danger">
                        <strong>0641386545</strong>
                    </span>
                </li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__title">Language</h3>
            <ul class="footer__menu languageBarChooser">
                <li>
                    <a rel="alternate" hreflang="nl" href="//localhost:3000/nl">Nederlands</a>
                </li>
                <li>
                    <a rel="alternate" hreflang="en" href="//localhost:3000/en">English</a>
                </li>
            </ul>
        </div>

        <div class="footer__social">
            <a href="https://www.facebook.com/clevergig" target="_blank" class="icon-facebook"></a>
            <a href="https://twitter.com/clevergig" class="icon-twitter" target="_blank"></a>
            <a href="https://plus.google.com/+ClevergigNl1/posts" class="icon-google" target="_blank"></a>
            <a href="https://www.linkedin.com/company/clevergig" class="icon-linkedin" target="_blank"></a>
        </div>
        <div class="footer__copy">
            celevergig B.V. 2016. All rights reserved
        </div>
    </div>
</footer>

<script src="js/bundle.js" charset="utf-8"></script>
